<div class="lists-grid">
  <% @todo_lists.each do |todo_list| %>
      <%= link_to todo_list do %>
      <div class="todo-list grow-box">
        <h2 class="list-title">
          <%= todo_list.title %>
        </h2>
        <p class="list-body"><%= todo_list.description %></p>
      </div>
      <% end %>
  <% end %>
</div>

<br>

