// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  display: flex;
  font-size: 6em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;

}

.list-title {
  font-size: 2.5em;
  margin-bottom: 0px;
}

.list-body {
  margin-top: 0px;
  margin-bottom: 2em;
  opacity: 0.8;
}

.grow-box {
  border: 1px solid #333;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 10px 8px 0px #777;
    -moz-box-shadow: 0 10px 8px 0px #777;
    box-shadow: 0 10px 8px 0px #777;
    cursor: pointer;
  }
}

.add-list {
  font-size: 0.75em;
}

.todo-list {
  padding-left: 2em;
}

small {
  font-size: 0.6em;
  opacity: 0.75;
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    opacity: 0.8
  }
}

.lists-grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(480px, 1fr) );
  grid-gap: 2em;
}

